:root {
    --baseColorStyle1: #01B5E7;
    --baseColorStyle2: black;
    --baseColor: var(--baseColorStyle1);
    --baseColorHover: orange;
    --baseButtonFontSize: 24px;
    --baseButtonFontSizeSmall  : 15px;
    --baseFontSize: 15px;
    --baseFontSizeSmall: 12px;
}

.body {
    font-size: var(--baseFontSize);
    font-family: 'Calibri', sans-serif;
    color: var(--baseColor);
}

.headerTitle {
    padding-right: 80px;
}

.containerHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.headerItem {
    display: inline-flex;
    min-width: 310px;
    margin-left: 3px;
    margin-right: 3px;
    padding: 3px;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
}

#buttonChangeStyle {
    font-size: var(--baseButtonFontSizeSmall);
}

#checkboxFilterFinishedLabel {
    padding-right: 60px;
}


.main {
    flex-grow: 5;
}

.footer {
    flex-basis: 100%;
    padding: 5px;
    margin-top: 10px;
    font-size: 12px;
}

.containerItemList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.noteItem {
    min-width: 310px;
    margin: 3px;
    padding: 3px;
    border: 1px solid darkgrey;
    border-radius: 3px 3px 3px 3px;
}
.noteItem_Header {
    display: flex;
    margin-top: 5px;
}

/* flash */
.noteItem_Header i {
    padding: 1px;
    color: gold;
    font-size: var(--baseButtonFontSize);
}

.noteItem_HeaderRight {
    display: flex;
    position: relative;
    top: 0;
    left: 130px;
}

.noteItem_Title {
    padding-left: 5px;
    display: flex;
}

.noteItem_Description {
    padding: 5px;
    display: flex;
    flex: 1;
    max-width: 300px;
    margin-bottom: 5px;

}

.noteItem_Footer {
    display: flex;
    margin-left: 5px;
    margin-top:  10px;
    font-size: var(--baseFontSizeSmall);
}

.noteItem_FooterRight {
    display: flex;
    position: relative;
    left: 92px;
}

.button {
    border: none;
    background-color: transparent;
    color: var(--baseColor);
    font-size: var(--baseButtonFontSize);
}

.buttonPressed {
    border: none;
    background-color: transparent;
    color: forestgreen;
    font-size: var(--baseButtonFontSize);
}

.button:hover{
    color: var(--baseColorHover);
}

.buttonPressed:hover {
    color: red;
}

.dialog {
    color: var(--baseColor);
}

.dialog::backdrop {
    background: rgba(66, 244, 66, 0.1);
}
