:root {
    --baseColorStyle1: #01B5E7;
    --baseColorStyle2: black;
    --baseColor: var(--baseColorStyle1);
    --baseColorHover: orange;
    --baseButtonFontSize: 24px;
}

.body {
    display: flex;
    flex-wrap: wrap;
    font-size: 11.0pt ;
    font-family: 'Calibri', sans-serif;
    color: var(--baseColor);
}

.header {
    flex-basis: 100%;
}

.headerTitle {
    text-align: center;
}

.headerInfo {
    position: absolute;
    top: 5px;
    left: 5px;
}

.headerToggleStyle {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: var(--baseButtonFontSizeSmall);
}

.headerButton,
.headerOrderBy,
.headerFilter{
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

.nav {
    flex-grow: 1;
    background: mediumturquoise;
}

.main {
    flex-grow: 5;
}

.aside {
    flex-grow: 0;
}

.footer {
    flex-basis: 100%;
}

.noteItemContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 300px;
    min-height: 100px;
}
.noteItem {
    min-width: 300px;
    min-height: 100px;
    margin: 5px;
    padding: 5px;
    border: 1px solid darkgrey;
}
.noteItem_Header {
    display: flex;
    font-size: var(--baseButtonFontSize);
}

/* flash */
.noteItem_Header i {
    padding: 1px;
    color: gold;
}

.noteItem_HeaderRight {
    display: flex;
    position: relative;
    top: 0px;
    left: 130px;
}

.noteItem_Title {
    padding: 5px;
    display: flex;
    min-width: 300px;
}

.noteItem_Description {
    padding: 5px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content:flex-start;
    min-height: 70px;
}

.noteItem_Footer {
    display: flex;
    margin-left: 3px;
}

.noteItem_FooterRight {
    display: flex;
    position: relative;
    left: 50px;
}


.button {
    border: none;
    background-color: transparent;
    color: var(--baseColor);
    font-size: var(--baseButtonFontSize);
}

.button:hover {
    color: var(--baseColorHover);
}

.dialog {
    color: var(--baseColor);
}

.dialog::backdrop {
    background: rgba(66, 244, 66, 0.1);
}
