:root {
    --baseColorStyle1: #01B5E7;
    --baseColorStyle2: black;
    --baseColor: var(--baseColorStyle1);
    --baseColorHover: orange;
    --baseButtonFontSize: 24px;
}

.body {
    display: flex;
    flex-wrap: wrap;

    font-size: 11.0pt ;
    font-family: 'Calibri', sans-serif;
    color: var(--baseColor);
}

.header {
    flex-basis: 100%;
}

.headerTitle {
    text-align: center;
}

.nav {
    flex-grow: 1;
    background: mediumturquoise;
}

.main {
    flex-grow: 5;
}

.aside {
    flex-grow: 0;
}

.footer {
    flex-basis: 100%;
}

button {
    border: none;
    background-color: transparent;
    color: var(--baseColor);
}

button:hover {
    color: var(--baseColorHover);
}

#addRecordButton,
#editDialogResetButton,
#editDialogCancelButton,
#editDialogSubmitButton,
#errorDialogSubmitButton{
    font-size: var(--baseButtonFontSize);
}

/* Awesome Font uses classes */
.tableItem button {
    font-size: var(--baseButtonFontSize);
}

.tableItem button:hover {
    color: var(--baseColorHover);
}

/* flash */
.tableItem i {
    font-size: var(--baseButtonFontSize);
    color: gold;
}

#changeStyleButton {
    font-size: 16px;
}

.wrapperInfo {
    position: absolute;
    top: 5px;
    left: 5px;
}
.wrapperToggleStyle {
    position: absolute;
    top: 5px;
    right: 5px;
}

.wrapperButton,
.wrapperOrderBy,
.wrapperFilter{
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

.table {
    width: 100%;
}

.tableItem {
    border: 2px solid darkgrey;
    width: 100%;
    table-layout: fixed;
}

/* column 1 */
.tableItem td:nth-child(1) {
    width: 80px;
}

/* column 2 */
.tableItem td:nth-child(2) {
    min-width: 100px;
    word-wrap:break-word;
}

/* column 3 */
.tableItem td:nth-child(3) {
    width: 110px;
}

/* first rows */
.tableItem tr:nth-child(1) {
    height: 50px;
}

/* second rows */
.tableItem tr:nth-child(2) {
    height: 100px;
}

dialog {
    color: var(--baseColor);
}

dialog::backdrop {
    background: rgba(66, 244, 66, 0.1);
}

.noteItem {
    min-width: 300px;
    min-height: 100px;
    background-color: deepskyblue;
    margin: 5px;
    padding: 5px;
}
.noteItemContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 300px;
    min-height: 100px;
    background-color: deepskyblue;
    margin: 5px;
    padding: 5px;
}
.noteItem_IsFinished {
    display: flex;
    background-color: green;
    min-width: 30px;
    min-height: 20px;
    padding: 5px;
    margin: 5px;
}
.noteItem_Title {
    display: flex;
    background-color: aqua;
    min-width: 30px;
    min-height: 40px;
    padding: 5px;
    margin: 5px;
}
.noteItem_Rating {
    display: flex;
    min-width: 30px;
    min-height: 40px;
    padding: 5px;
    margin: 5px;
}
.noteItem_CreatedDate {
    display: flex;
    background-color: greenyellow;
    min-width: 30px;
    min-height: 40px;
    padding: 5px;
    margin: 5px;
}
.noteItem_Description {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    background-color: darkorange;
    width: 30px;
    min-height: 40px;
    padding: 5px;
    margin: 5px;
}


